.aligncenter,div.aligncenter{display:block;margin-left:auto;margin-right:auto}.alignleft{float:left}.alignright{float:right}
.wp-caption{margin:10px;padding-top:4px;text-align:center}
.wp-caption img{border:0 none;margin:0;padding:0}.wp-caption p.wp-caption-text{font-size:.699em;line-height:17px;margin:0;text-align: center!important;padding:0 4px 5px}
.sticky {}
.gallery-caption{}
