@charset "utf-8";//必须设置了这个才能编译有中文的注释

//全局引入
@import "normalize";
@import "compass/css3";
@import "compass/typography";


//定义全局变量
$base-font-size: 16px;
$main-color:#59b2db;
$main-font-color:#6d6d6d;
$main-width:980px;
$sidebar-width:280px;
$content-width:687px;
$main-font:"Helvetica Neue", Helvetica,"Songti SC", "SimSun", serif;

$single-img-width:640px;


@mixin dwdebug{
	outline:1px red solid;
}

@mixin text-indent{
	text-indent:-9999em;
}

//计算em大小的工具，写的时候直接写px的数值 e.g font-size: em(16px);
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}


//重新定义大体样式
a{	@include link-colors(#353535,#59b2db,#333,#333,#59b2db);
	text-decoration:none;
	@include transition(color .3s ease-in-out);
}

body{
	background-color: #f0f0f0;
	color:#6d6d6d;
	line-height: 1.5;

	font: 14px "Helvetica Neue", Helvetica,"Microsoft YaHei",Arial,Sans-serif;text-decoration:none;
}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.boxSizing{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.float_left{float:left}
.float_right{float:right}
.float_none{float:none}
//WordPress 基本样式
@import "_wpbase.scss";

//总体布局
#container{width:$main-width;margin:0 auto;}
#top{
	width:100%;margin:0 auto;
	background: #3e3e3e;
	header{
	width:$main-width;margin:0 auto;padding: em(18px) 0 em(16px);
	.logo{
		display: block;
		@include dwdebug;
	}
	.header-right{
		form,span{float:left;}
		form{
			float: left;
  			display: inline-block;
  			position: relative;

  			input[type="text"]{
  				@include transition(width 0.5s ease 0s);
  				  border-top: 1px solid #393939;
  				  font-size: 12px;
  				  padding: 8px 31px 8px 8px;
  				  background: #4b4b4b;
  				  color: #B2B2B2;
  				  width: 85px;
  				  outline: none;
  				&:focus {width: 120px;}
  				
  			}
			input[type="submit"] {
  				background: url("../images/searchIco.png") 50% 50% no-repeat;
  					border: none;
  					outline: none;
  					position: absolute;
  					height: 17px;
  					width: 17px;
  					right: 8px;
  					top: 8px;
				}
		}
		span{
			display:inline;
			a{float: left;
			  display: inline-block;
			  font-size: 14px;
			  text-shadow: none;
			  color: #bcbcbc;
			  background: #575757;
			  border: 1px solid #353535;
			  margin-left: 10px;
				&.reg,&.log{border: 1px solid #606060;
					padding: 10px 20px;
					font-weight: normal;
				}
				&.log{
					background: #10678b;
					color: #9fc2d1;
				}
			}
		}
	}
}
.navgation{
	background: #3e3e3e;
	width: $main-width;
	margin:0 auto;
	padding: 8px 0;
	ul{
		@include no-bullet;
		padding-left: 0;
		li{
			@include no-bullet;
			@include delimited-list;
			margin-right: -3px !important;
			a{
				box-sizing: border-box;
				display: inline-block;
				width: 14.2%;
				text-align: center;
				font-size: 16px;
				padding: 10px 0;
				text-shadow: none;
				border-left: 1px solid #4c4c4c;
				border-right: 1px solid #242424;
				line-height: 1;
				color: #FFF;
				&.cur,&.cur:hover{
					background: #262626;
					padding: 10px 0 8px;
					border-bottom: 2px solid #1ea9e2;
				}
				&:hover{background: #2d2d2d;}
				&:last-child{border-right: none;}
			}
		}
	}
	.menu{
		@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.1));
		border: 1px solid #242424;
		background: #363636;
		width: 100%;
		max-width: $main-width;
		margin: 0 auto;
	}
}

}

/*slider*/
//@import "slider.scss";
#main{
	margin-top:em(24px);
}
#content{
	width:$content-width;
	
	float:left;


}


/*article*/
$art-pladeholder:em(24px);

article{
	$mrgin-left:em(60px);
	&.post{
		background: #f6f6f6;
		border: 1px solid #e0e0e0;
		@include box-shadow( 0 1px 0 #e8e8e8);
		margin-bottom: $art-pladeholder;
		position: relative;
		.title{
			padding:$art-pladeholder;
			>.author{
				display: block;
				position:relative;
				top:8px;
  				border: 1px solid #DCDCDC;
  				float: left;
  				@include border-radius(100px);
  				img{
  					display: block;
  					border: 3px solid #FFF;
  					@include border-radius(100px);
  				}
			}
			h1{
				margin-left: $mrgin-left;
				font-size: em(24px);
				font-weight: normal;
				a{@include link-colors(#353535,#59b2db,#333,#333,#59b2db);}
			}
			.title-meta{
				margin-left: $mrgin-left+em(30px);
				span{margin-right:em(10px);}
			}
		}
		.featured_image{
			margin-bottom: $art-pladeholder;
			img{width:100%;}
		}
		section{
			padding:$art-pladeholder;
			margin-bottom: $art-pladeholder;
			.entry{
				float: left;
				width: 365px;
				max-height: 96px;
				overflow: hidden;
				display: block;
			}
			.btn{
				margin-left: 400px;
				display: block;
				// @include horizontal-list;
					a{
						display: inline-block;
						text-align: center;
						padding: 0 9px;
						span{display:inline-block; width:50px; height:50px;padding-top: 3px;}
						.weibo{background: url(../images/shareIco.png) center no-repeat;}
						.com{background: url(../images/txShareIco.png) center no-repeat;}
						.readmore{background: url(../images/enterIco.png) center no-repeat;}
						&:hover{
							p{color:$main-font-color;}
							.weibo{background: url(../images/shareIcoAct.png) center no-repeat;}
							.com{background: url(../images/txShareIcoAct.png) center no-repeat;}
							.readmore{background: url(../images/enterIcoAct.png) center no-repeat;}
							}
					}
			}
		}
	}
}

/*page-nav*/
.page-nav{
	display:block;
	text-align: center;
	margin-bottom:$art-pladeholder;
	margin-top:$art-pladeholder;
	.wrap{display: inline-block;}//包裹，使其中间
	ul{
		padding-left: 0;
		&.page-numbers{border:none; @include box-shadow(none);}		
		li{
			@include no-bullet;
			@include delimited-list;
		}
	}
	ul li .page-numbers{
		display: inline-block;
		float:left;
		color:#a6a6a6;
		border: 1px solid #e0e0e0;
    	@include box-shadow(0 1px 1px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.1));
		font-size: em(20px);
		width: em(40px);
		height: em(40px);
		text-align:center;
		line-height: em(40px);
		margin-right: em(7px);
	}
	.current{
		@include box-shadow(0 1px 0 rgba(255,255,255,.1),inset 0 1px 0 rgba(0,0,0,.1));
		background: #68c9d5;
		border: 1px solid #68c9d5;
		color: #FFF!important;
	}
	a.page-numbers:hover{background-color: #e8e8e8}
}

/*sidebar*/
$aside-padding:em(12px);
aside{
	//@include dwdebug;
	float:right;
	width:$sidebar-width;
	ul{
		@include no-bullet;
		margin-bottom: 20px;
		padding:0;
		li{margin: 0;
		padding:0;}
	}
	.w-container{
		border: 1px solid #e0e0e0;
		@include box-shadow(inset 0 1px 0 #fafafa,0 2px 2px #e8e8e8);
		background: #f6f6f6;
		margin-top: 0; 
		text-shadow: 0 1px 0 #fff;
		ul{
			padding-right: $aside-padding;
			li{
				background: url(../images/list_style.png) no-repeat 0px 8px;
				padding-left: 13px;
				margin-left: 20px;
				margin-bottom: 10px;
				line-height: 20px;
			}
		}
		.textwidget{
			padding:em(12px) em(20px);
		}
	}
	.w-title{
		margin: 0 0 10px;
		
		box-shadow: inset 0 1px 0 #fff,0 1px 0 #eee;
		padding:em(12px) em(20px) ;
		border-bottom: 1px solid #e0e0e0;

	}	
}		
/*links*/
#links{
	background: #e6e6e6;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	text-shadow: 0 1px 0 #fff;
	.wrap{
		width: $main-width;
		margin: 0 auto;
		padding:em(10px) 0;
	}
	ul{
		padding:0;
		margin: 0;
	}
	li{
		float: left;
		width: 12.5%;
		@include no-bullet;
		line-height: em(36px);
	}
}
/*footer*/
footer{
	padding: em(30px) 0;
	background: #161616;
	color: #8c8c8c;
	border-top: 1px solid #0a0a0a;
	@include box-shadow(0 1px 2px #121212);

	p{text-align:center;
		a,a:visited{color:#8c8c8c}
	}
}

/*post-single*/

// //no left border in sidebar if it is single.
// .single aside{

// }
article.single{
	
	.title{
		overflow: hidden;
		margin-top: em(20px);
		.border{
			width: 7px;
			height: 53px;
			margin: -1px 12px 0 0;
			background: #55bde8;
			float: left;
		}
		.crumbs a{}
		h1{font-size: em(24px);font-weight: normal;margin-left:0;}
	}
	.single-meta{
		border: 1px solid #e0e0e0;
		@include box-shadow(inset 0px 1px 1px rgba(255, 255, 255, 0.2));
		position: relative;
		margin-top: 25px;
		.info{
			text-shadow: 0 1px 1px #FFF;
			height: 45px;
			padding: 12px 10px;
			color: #8f8f8f;
			.author{
				display: block;
				border: 1px solid #DCDCDC;
				float: left;
				@include border-radius(100px);
				margin-right: 10px;
				img{
					display: block;
					border: 3px solid #FFF;
					@include border-radius(100px);
				}
				.name{
					display: block;
					font-size: 14px;
					margin-bottom: 15px;
					line-height: 1;
				}
			}
			.stat{
				line-height: 1;
				margin: 10px 0;
				span{margin-right:em(10px);}
			}
			&:before{
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				top: -10px;
				left: 15px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #e0e0e0;
			}
			&:after{
				position: absolute;
				top: -8px;
				left: 16px;
				z-index: 10;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-bottom: 9px solid #f7f7f7;
			}

		}
	}
	.entry{
		padding-top: 0;
		font-size: 15px;
		line-height: em(28px);
		p{margin-bottom:em(20px);text-indent:2em}
		img{max-width:$single-img-width;}
	}
}