.gallery {
    width: 100%;
    background: #333;
    position: relative
}

.gallery .rsp_body {
    overflow: hidden
}

.rsp_body {
    width: 980px;
    margin: 0 auto;
    position: relative;
    height: auto;
    min-height: 0
}

.row {
    width: 100%;
    height: auto!important;
    height: 0;
    min-height: 0
}

.row:after {
    clear: both
}

.row:after,.row:before {
    display: table;
    content: " "
}


.wSlider {
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0)
}

.wRecGallery .time {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: #55bde8;
    z-index: 99
}

.items {
    width: 1000%;
    overflow: hidden;
    position: relative
}

.item {
    width: 10%;
    float: left
}

.item figure {
    position: relative
}

.gallery .item figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 3em;
    background: rgba(0,0,0,.7);
    color: #fff;
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 24px
}

.gallery .nav {
    position: absolute;
    bottom: 17px;
    right: 5em;
    z-index: 99
}

.gallery .nav-arrow {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 0
}

.gallery .prev {
    background: url(../images/gallery-left.png) center center no-repeat;
    left: 0;
    width: 55px;
    border-right: 1px solid rgba(255,255,255,.2)
}

.gallery .next {
    background: url(../images/gallery-right.png) center center no-repeat;
    right: 0;
    width: 55px;
    border-left: 1px solid rgba(255,255,255,.2)
}

.gallery .nav a {
    background: #a3a3a3;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    z-index: 10;
    line-height: 55px;
    vertical-align: middle;
    display: inline-block;
    font-size: 0
}

.gallery .nav .cur,.gallery .nav a:hover {
    background: #fff;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5)
}

.guide .news-list a,.headlines .news-list a {
    max-width: 210px
}

.headlines .header-icon {
    background-position: 0 0
}

.guide h3,.headlines h3 {
    color: #c5c5c5;
    display: inline-block
}

.guide a:active h3,.guide a:hover h3,.headlines a:active h3,.headlines a:hover h3,.illustrate a:active h4,.illustrate a:hover h4 {
    color: #55bde8
}
